# Copy `example.env` to `.env` and change the environment variables as needed 
PROJ_DIR=/path/to/prepbench
OPENBLAS_NUM_THREADS=1
MKL_NUM_THREADS=1
OMP_NUM_THREADS=1
NUMEXPR_NUM_THREADS=1
NUMBA_NUM_THREADS=1
CUDA_LAUNCH_BLOCKING=1
TORCH_USE_CUDA_DSA=1
PREPBENCH_DATA_DIR=/data/deepline_dataset
